// NAVBAR SCSS
.navbar {
  .navbar-brand svg {
    width: 42px;
    height: 42px;
    color: #0a66c2;
  }
  Form {
    .input-group {
      :focus {
        box-shadow: none !important;
      }
      * {
        background-color: #edf3f8;
        border-radius: 0.4rem;
        border: 0;
      }
    }

    #profile-search-area {
      position: absolute;
      top: calc(100% + 8px);
      list-style: none;
      background-color: #fff;
      padding: 16px 0;
      border-radius: 8px;
      border: 2px solid #f3faf7;
      width: 100%;

      li {
        transition: all 0.15s ease;
        padding-inline: 16px;

        a {
          color: #0a66c2;
        }

        &:hover {
          background-color: #0a66c218;
        }
      }
    }
  }
  .navbar-collapse {
    svg {
      color: #00000099;
      transition: all 0.2s ease-out;
    }
    :hover {
      color: rgb(0 0 0 / 0.9);
    }

    .nav-item {
      width: 80px;
      text-align: center;
    }
    #mobile-nav .nav-item {
      width: 100%;
      text-align: left;

      a {
        font-size: 1rem !important;
        font-weight: 600 !important;
      }
    }
    .nav-link,
    .dropdown-toggle {
      font-size: 12px !important;
      font-weight: 400 !important;
      padding-block: 4px !important;
    }
  }
  .dropdown-menu{
    margin-top: 16px;
    box-shadow: 0 8px 16px rgba(25,25,25,.15);
    border-top-right-radius: 2px;
    
    a:active{
      background-color: unset;
    }
  }
}
