// NAVBAR SCSS
.navbar{
    .navbar-brand svg{
        width: 42px;
        height: 42px;
        color: #0a66c2;
    }
    .input-group > *{
        background-color: #EDF3F8;
        border-radius: 0.4rem;
        border: 0;
    }
    .navbar-collapse{
        svg{
            color: #00000099;
            transition: all .2s ease-out;
        }:hover{
            color: rgb(0 0 0 / .9);
        }

        .nav-item{
            width: 80px;
            text-align: center;
        }
        #mobile-nav .nav-item{
            width: 100%;
            text-align: left;
            
            a{
                font-size: 1rem!important;
                font-weight: 600!important;
            }
        }
        .nav-link, .dropdown-toggle{
            font-size: 12px!important;
            font-weight: 400!important;
            padding-block: 4px!important;
        }
    }
}

#profile-search-area{
    position: absolute;
    top: calc(100% + 8px);
    list-style: none;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,.15);
    width: 100%;
}
