$btn-color: #0A66C2;
$hoverbtn-color: #084e94;
@mixin flex-center() {
    display: flex ;
    justify-content: center;
    align-items: center;
}

.bg-white {
    background-color: white;
}



.jumbotronBackground {
    position: relative;
    height: 200px;
    padding: 0;
    img {
        width: 100%;
        height: 100%;
    }
    .jumbotron_camera {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        @include flex-center;
        background-color: white;
        cursor: pointer;
        svg {
            color: $btn-color;
            font-size: 15px;
            &:hover {
                color: $hoverbtn-color;
            }
        }
        
    }
}

.jumbotronProfile {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -130px;
    z-index: 2;
    position: relative;
    img {
        width: 170px;
    }
    button {
        padding: 0;
        width: 40px;
        height: 40px;
        @include flex-center;
        margin-bottom: -10px;
        svg {
            font-size: 20px;
        }
    }
    }
    .ms-20 {
        margin-left: 20%;
    }

    .fs-7 {
        font-size: 0.9em;
    }
    .btn-blue {
        background-color: $btn-color;
        border: 1px solid $btn-color;
        padding-block: 3px;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: $hoverbtn-color;
            border-color: $hoverbtn-color;
        }
    }
    .btn-white {
        background-color: white;
        border: 1px solid $btn-color;
        color: $btn-color;
        cursor: pointer;
        padding-block: 3px;
        &:hover {
            background-color: rgba(112, 181, 249, 0.2);
            color: $btn-color;
        }
    }
    .btn-grey {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.6);
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        padding-block: 3px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
            color: black;
            border-color: black;
        }
    }