$grey-color: grey;
$link-color: rgb(0 0 0/0.6);
$background-color: #f4f2ee;

.footer{

  a {
    text-decoration: none;
    color: $link-color;
    opacity: 0.7;
    font-size: 12px;
    font-weight: 600;
  }
  
  a:hover {
    text-decoration: underline;
    opacity: 1;
  }
  
  .mb-2 a {
    color: $grey-color;
    opacity: 0.7;
    font-weight: 600;
    
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }
}
