/* a {
  text-decoration: "none";
  color: "rgb(0 0 0/.6)";
  opacity: 0.7;
  font-size: 14;
  font-weight: 600;
  opacity: 0.5;
}
a :hover {
  text-decoration: underline;
  opacity: 1;
}  */
body{
    background-color: #f4f2ee;
}

// NAVBAR SCSS
.navbar{
    .navbar-brand svg{
        width: 42px;
        height: 42px;
        color: #0a66c2;
    }
    .input-group > *{
        background-color: #EDF3F8;
        border-radius: 0.4rem;
        border: 0;
    }
    .navbar-collapse{
        svg{
            color: #00000099;
            transition: all .2s ease-out;
        }:hover{
            color: rgb(0 0 0 / .9);
        }

        .nav-item{
            width: 80px;
            text-align: center;
        }
        #mobile-nav .nav-item{
            width: 100%;
            text-align: left;
            
            a{
                font-size: 1rem!important;
                font-weight: 600!important;
            }
        }
        .nav-link, .dropdown-toggle{
            font-size: 12px!important;
            font-weight: 400!important;
            padding-block: 4px!important;
        }
    }
}
